.NAVcontent {
    overflow: hidden;
    height: 100%;
    background-color: #00274b;
    padding: 0 !important;
    margin-bottom: 15px !important;
}
.NAVitem {
    color:white !important;
    padding: 15px !important;
    border-radius: 0 !important;
}
.NAVitem:hover {
    background-color: #194165 !important;
    color: white;
}
.NAVuser {
    color: white;
    top: 4px;
    margin-right: 13px;
    right: 0;
}
#GE2NavItemHome {
    border-left: 1px solid #656565 !important;
    border-right: 1px solid #656565 !important;
}